<ion-content>

    <body>
        <div class="container top" [hidden]="keyboard.isVisible">
            <img class="logo" src="../../../assets/img/Logo.png">
            <ion-segment value="login" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="login" ines="block" color="none">
                    <ion-label class="login">Login</ion-label>
                </ion-segment-button>
                <ion-segment-button value="register" ines="block" color="none">
                    <ion-label class="login">Cadastro</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
 
        <ion-slides>
            <ion-slide>
                <div class="slide-inner ion-padding">
                    <ion-item class="ion-margin-top" lines="block" color="none">
                        <ion-input class="input" type="email" placeholder="E-mail" color="light" [(ngModel)]="userLogin.email"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top" lines="block" color="none">
                        <ion-input class="input" type="password" placeholder="Senha" color="light" [(ngModel)]="userLogin.password"></ion-input>
                    </ion-item>
                    <ion-button class="ion-margin-top" (click)="login()" color="none">
                        <span class="login">Entrar</span>
                    </ion-button>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-inner ion-padding">

                    <ion-item class="ion-margin-top" lines="block" color="none">
                        <ion-input type="text" placeholder="Nome" color="light"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top" lines="block" color="none">
                        <ion-input type="email" placeholder="E-mail" color="light" [(ngModel)]="userRegister.email"></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-top" lines="block" color="none">
                        <ion-input type="password" placeholder="Senha" color="light" [(ngModel)]="userRegister.password"></ion-input>
                    </ion-item>
                    <ion-button class="ion-margin-top" (click)="register()" color="none">
                        <span class="login">Cadastrar</span>
                    </ion-button>
                </div>
            </ion-slide>
            <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
                listar 
            </ion-button>
        </ion-slides>

        <div class="fundo">
        </div>
    </body>

</ion-content>