<ion-header>
    
</ion-header>
<ion-content>
  <ion-item *ngFor = "let produto of product" class="user-list">
        <ion-card class="block">
            <ion-card-header>
                <ion-card-title color="primary">{{produto.produto}}</ion-card-title>
                <ion-card-subtitle>Preço {{produto.value}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                {{produto.description}}
            </ion-card-content>            
        </ion-card>  
    
    </ion-item>
</ion-content>